body {
    margin: 0;
    background: rgb(240, 239, 239);
    width: 100%;
    
    
}
.header {
    background: rgb(82, 82, 82) ;
    width: 100%;
    height: 100px;
}

.main {
    background: rgb(255, 255, 255);
    margin: 0 auto;
    width: 75%;
    height: 559px;
}

.footer { 
    background: rgb(196, 221, 226);
    margin: 0 auto;
    width: 75%;
    height: 70px;   
  }